.footer {
  background: var(--color-secondary-main);
  color: var(--color-text-dark);
  padding: 2rem 0;
  min-height: 20rem;
  display: flex;
  gap: 6rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: auto;
}

.footer > * {
  flex: 0 1 20rem;
  text-align: center;
}

.social {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.list-header {
  font-size: var(--size-text-xl);
  margin-bottom: 2rem;
}

.list-links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.list-links li:hover {
  text-decoration: underline;
}

.contact span {
  font-weight: 700;
}

@media (max-width: 32em) {
  .list-links {
    flex-direction: column;
  }
}
