.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.arrow {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  height: 5rem;
  width: 5rem;
  padding: 1rem;
  border-radius: 50%;
  border: 3px solid var(--color-primary-main);

  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.arrow:hover {
  scale: 1.1;
}
