.activities {
  padding: var(--section-padding);
  /* background: url('../../assets/flourish-frame-1.svg'),
    var(--section-background-gradient);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply; */
}

.content {
  margin: var(--page-margin);
  max-width: var(--page-max-width);
  padding: 20rem 8rem;
  background-image: url('../../assets/card-background.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--color-text-dark);
  font-size: var(--size-text-lg);
}

.zigzag {
  display: grid;
  grid-gap: 8rem;
  align-items: center;
  justify-content: space-between;
  grid-auto-flow: row;
  margin-bottom: 10rem;
}

.zigzag:nth-child(2) {
  grid-template-columns: min-content 1fr;
}

.zigzag:first-child,
.zigzag:last-child {
  grid-template-columns: 1fr min-content;
}

.zigzag figure {
  position: relative;
  height: 30rem;
}
.zigzag img:nth-child(2) {
  display: block;
  margin: 0 auto;
  height: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.list p {
  font-size: var(--size-text-xl);
  margin-bottom: 2rem;
}
.list li {
  font-size: var(--size-text-lg);
}

@media (max-width: 50em) {
  .zigzag:first-child,
  .zigzag:last-child,
  .zigzag:nth-child(2) {
    grid-template-columns: 1fr;
  }

  .zigzag:nth-child(2) ul {
    grid-row: 1/2;
  }
  .zigzag:nth-child(2) figure {
    grid-row: 2/3;
  }
}

@media (max-width: 32em) {
  .content {
    padding: 20rem 2rem;
  }
}
