.activities {
  margin: var(--section-margin);
  padding: var(--section-padding);
  background-color: rgba(234, 170, 105, 0.1);
}

.content {
  margin: var(--page-margin);
  max-width: var(--page-max-width);
  font-size: var(--size-text-lg);
}

.zigzag {
  display: grid;
  grid-gap: 4rem;
  align-items: center;
  justify-content: space-between;
  grid-auto-flow: row;
  margin-bottom: 2rem;
}

.zigzag:nth-child(2) {
  grid-template-columns: min-content 1fr;
}

.zigzag:first-child,
.zigzag:last-child {
  grid-template-columns: 1fr min-content;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.list p {
  font-size: var(--size-text-xl);
  margin-bottom: 2rem;
}
.list li {
  font-size: var(--size-text-lg);
}

@media (max-width: 50em) {
  .zigzag:first-child,
  .zigzag:last-child,
  .zigzag:nth-child(2) {
    grid-template-columns: 1fr;
  }

  .zigzag:nth-child(2) ul {
    grid-row: 1/2;
  }
  .zigzag:nth-child(2) figure {
    grid-row: 2/3;
  }
}
