.blog {
  position: relative;
  padding: var(--section-padding);
  background-color: rgba(234, 170, 105, 0.1);
}

.content {
  margin: var(--page-margin);
  max-width: var(--page-max-width);
  color: var(--color-text-dark);
  font-size: var(--size-text-lg);
}

.section {
  display: block;
  padding: 2rem 0;
}

.section:hover {
  color: var(--color-primary-light);
}
