.collaborators {
  padding: var(--section-padding);
  margin: var(--section-margin);
}

.content {
  margin: var(--page-margin);
  max-width: var(--page-max-width);
  color: var(--color-text-dark);
  font-size: var(--size-text-lg);

  display: grid;
  grid-gap: 14rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, min-content));
  justify-content: center;
}

.collaborator {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.name {
  text-align: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.modal-content {
  padding: 2rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.modal-content .image-container {
  flex: 0 0 max-content;
}

.modal-text {
  flex: 1 1 10rem;
}
