.content {
  padding: 6rem 16rem;
  margin: var(--page-margin);
  max-width: var(--page-max-width);
  color: var(--color-text-dark);
  background: url('../../assets/old-paper.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  gap: 4rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.group {
  position: relative;
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
}

.subgroup {
  position: relative;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.subgroup > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.subgroup label,
.textarea label {
  margin-right: 1rem;
  margin-bottom: 5px;
}

.textarea {
  position: relative;
}

.textarea > div {
  display: flex;
  flex-wrap: wrap;
}

.actions {
  text-align: right;
}

.error {
  position: absolute;
  right: 0;
  bottom: -2rem;
  color: red;
  font-weight: 700;
  text-align: right;
  font-size: var(--size-text-xs);
}

@media (max-width: 37.5em) {
  .content {
    padding: 6rem 10rem;
  }
}

@media (max-width: 25em) {
  .content {
    padding: 6rem 2rem;
  }
}
