.hero {
  margin-top: 2rem;
}

.content {
  padding: 8rem 10rem;
  margin: var(--page-margin);
  max-width: var(--page-max-width);
  color: var(--color-text-light);
  background: url('../../assets/hero-background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
