.hero {
  margin: 5rem 0;
  padding: 5rem 0;
  background: url('../../assets/hero.jpg'),
    linear-gradient(rgba(50, 0, 0, 0.8), rgba(50, 0, 0, 0.8));
  background-blend-mode: multiply;
}

.content {
  padding: 2rem 0;
  margin: var(--page-margin);
  max-width: var(--page-max-width);
  color: var(--color-text-light);
}

.container {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.container > * {
  flex: 1 1 40rem;
}

.images img {
  display: block;
  height: 54rem;
  margin-left: auto;
  border-radius: var(--border-radius);
}

.text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.introduction {
  line-height: 1.8;
  font-style: oblique;
  font-size: 1.8rem;
}

.title {
  margin-bottom: 2rem;
  color: var(--color-secondary-main);
}

@media (max-width: 1000px) {
  .container {
    text-align: center;
  }
  .images img {
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .images img {
    height: 30rem;
  }
}
