.hero {
  background-color: var(--color-secondary-main);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
}

.content {
  max-width: var(--page-max-width);
  margin: var(--page-margin);
  position: relative;
  color: var(--color-text-light);
}

.gallery {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: flex-start;

  padding: 2rem;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(229, 148, 67, 0.5) 30%,
    rgba(229, 148, 67, 0.25) 60%,
    rgba(229, 148, 67, 0) 100%
  );
}

.title {
  margin-top: 5rem;
  color: #fff;
  text-align: left;
}

.title h1 {
  font-size: 5rem;
  text-shadow: 5px 5px 1rem rgba(0, 0, 0, 0.4);
}

.title span {
  font-size: 10rem;
}
