.mission {
  padding: var(--section-padding);
}

.content {
  padding: 8rem 14rem;
  margin: var(--page-margin);
  max-width: var(--page-max-width);
  color: var(--color-text-dark);
  background: url('../../assets/Parchment.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content h3 {
  text-align: right;
  color: var(--color-primary-light);
  font-style: oblique;
  margin-bottom: 4rem;
}

.content p {
  text-align: center;
  font-size: var(--size-text-lg);
}

@media (max-width: 50em) {
  .content {
    padding: 8rem 6rem;
  }
}
