.activities {
  margin: 5rem 0;
  padding: 5rem 0;
  background: url('../../assets/flourish-frame-1.svg'),
    linear-gradient(rgba(50, 0, 0, 0.8), rgba(50, 0, 0, 0.8));
  background-blend-mode: multiply;
}

.content {
  padding: 2rem 0;
  margin: var(--page-margin);
  max-width: var(--page-max-width);
  color: var(--color-text-light);
}

.container {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-bottom: 2rem;
}

.sword {
  height: 10rem;
}
