.button {
  font: inherit;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: var(--border-radius);
  font-size: var(--size-text-md);
  transition: var(--transition);
  width: fit-content;
}

.primary {
  color: var(--color-text-dark);
  background-color: var(--color-secondary-main);
}
.primary:hover {
  background-color: var(--color-secondary-light);
}

.secondary {
  border: 2px solid var(--color-secondary-dark);
}
.secondary:hover {
  border: 2px solid var(--color-secondary-light);
}
