.button {
  font: inherit;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: var(--border-radius);
  font-size: var(--size-text-md);
  transition: var(--transition);
  box-shadow: 0 0 1rem rgba(50, 0, 0, 0.1);
  width: fit-content;
}

.button:hover {
  background: rgba(0, 0, 0, 0.1);
}

.primary {
  color: var(--color-text-dark);
  background-color: var(--color-secondary-main);
}
.primary:hover {
  background-color: var(--color-secondary-dark);
}
