.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  z-index: 1;
}

.overlay {
  width: max-content;

  margin: auto;
  overflow: hidden;
  border-radius: 12px;
  background: #fff;
  color: var(--color-text-dark);
}

.header {
  background: #006600;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  color: var(--color-text-light);
}

.main {
  padding: 2rem;
}

.close {
  cursor: pointer;
  border-radius: 50%;

  width: 4rem;
  height: 4rem;
  padding: 5px;
}

.close:hover {
  background: #014e01;
}
