@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import '~react-image-gallery/styles/css/image-gallery.css';

:root {
  --color-primary-light: #7b4743;
  --color-primary-main: #6c322e;
  --color-primary--dark: #612d29;

  --color-secondary-light: #d9c545;
  --color-secondary-main: #d5bf30;
  --color-secondary-dark: #c0ac2b;

  --color-text-light: #f0ebea;
  --color-text-dark: #1d0d0c;

  --card-background: 'transparent';

  --font-primary: 'Faustina', serif;
  --font-display: 'Monsieur La Doulaise', cursive;

  --size-text-xs: 1.2rem;
  --size-text-sm: 1.4rem;
  --size-text-md: 1.6rem;
  --size-text-lg: 1.8rem;
  --size-text-xl: 2.2rem;
  --size-text-xxl: 2.6rem;

  --page-max-width: 130rem;
  --page-margin: 0 auto;

  --transition: all 0.2s;
  --border-radius: 4px;

  --section-background-gradient: linear-gradient(
    rgba(50, 0, 0, 0.8),
    rgba(50, 0, 0, 0.8)
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: var(--font-primary);
  background-color: #6c322e;
  /* background-image: url("data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='bevel-circle' fill='%23ffffff' fill-opacity='0.04'%3E%3Cpath d='M10.414 29l-8 8h33.172l-8-8H10.414zM9 27.586l-8 8V2.414l8 8v17.172zM10.414 9l-8-8h33.172l-8 8H10.414zM29 10.414l8-8v33.172l-8-8V10.414zM11 11h16v16H11V11zm8 14c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm0-2c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zM0 0h38v38H0V0z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
  background-image: url('./assets/flourish-frame-1.svg');
  background-blend-mode: multiply;
  color: var(--color-text-light);
  font-size: var(--size-text-md);
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: var(--size-text-xxl);
}

h5 {
  font-size: 2.4rem;
}

h6 {
  font-size: var(--size-text-xl);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background: #e2dcdc;
  cursor: not-allowed;
  box-shadow: none;
}

label {
  font-weight: 700;
  margin-bottom: 5px;
}

input,
select,
textarea {
  font: inherit;
  padding: 1rem;
  border-radius: var(--border-radius);
  outline: none;
  border: none;
  transition: var(--transition);
  resize: none;
  width: 100%;
}

input:hover,
select:hover,
textarea:hover {
  box-shadow: 0 0 4px rgba(50, 0, 0, 0.2);
}
input:focus,
select:focus,
textarea:focus {
  box-shadow: 0 0 4px rgba(50, 0, 0, 0.6);
}

.input-error,
.input-error:hover,
.input-error:focus {
  box-shadow: 0px 0px 0px 2px rgba(255, 0, 0, 0.8),
    0px 0 4px rgba(255, 0, 0, 0.8);
}

hr {
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
}

img {
  border-radius: 5px;
}

/* HELPERS */
.accent {
  color: var(--color-primary-light);
  font-weight: 700;
}

.display {
  font-family: var(--font-display);
  font-size: 8rem;
  font-style: normal;
}

.section-header {
  text-align: center;
  color: var(--color-secondary-light);
  font-style: oblique;
  margin-bottom: 2rem;
}

.subtitle {
  text-decoration: underline;
  color: var(--color-primary-main);
}
