@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import '~react-image-gallery/styles/css/image-gallery.css';

:root {
  --color-primary-light: #7b4743;
  --color-primary-main: #6c322e;
  --color-primary--dark: #612d29;

  --color-secondary-light: #d9c545;
  --color-secondary-main: #d5bf30;
  --color-secondary-dark: #c0ac2b;

  --color-text-light: #f0ebea;
  --color-text-dark: #1d0d0c;

  --card-background: 'transparent';

  --font-primary: 'Faustina', serif;
  --font-display: 'Monsieur La Doulaise', cursive;

  --page-max-width: 130rem;
  --page-margin: 0 auto;

  --transition: all 0.2s;
  --border-radius: 2px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-primary);
  background-color: #6c322e;
  /* background-image: url("data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='bevel-circle' fill='%23ffffff' fill-opacity='0.04'%3E%3Cpath d='M10.414 29l-8 8h33.172l-8-8H10.414zM9 27.586l-8 8V2.414l8 8v17.172zM10.414 9l-8-8h33.172l-8 8H10.414zM29 10.414l8-8v33.172l-8-8V10.414zM11 11h16v16H11V11zm8 14c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm0-2c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zM0 0h38v38H0V0z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
  background-image: url('./assets/flourish-frame-1.svg');
  background-blend-mode: multiply;
  color: var(--color-text-light);
  font-size: 1.6rem;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.6rem;
}

h5 {
  font-size: 2.4rem;
}

h6 {
  font-size: 2.2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}

hr {
  margin: 2rem 0;
}

/* HELPERS */
.accent {
  color: var(--color-secondary-light);
  font-weight: 700;
}

.monsieur {
  font-family: var(--font-display);
  font-size: 8rem;
  font-style: normal;
}

.section-header {
  text-align: center;
  color: var(--color-secondary-light);
  font-style: oblique;
}

.subtitle {
  text-decoration: underline;
  color: var(--color-secondary-light);
}
